#list_table , #list_table th , #list_table td{
  background:none;
  border:none;
}

/*同步提示文字*/
.sync_text{
  text-align:right;
  border-top:1px solid #99CCCC;
  color:#99CCCC;
  /* font-size: 0.9em; */
  padding:8px;
}

/*下方行事曆主題標籤*/
.cate_mark{
  display:inline-block;
  margin:4px;
  background-color:white;
  padding:3px 6px;
  font-size: 0.75em;
  border-radius: 3px;
}

.c {
  text-align:center;
}

.even_div{
  padding:10px;
  border:1px solid rgb(192,192,192);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;
  background: #F6F6F6;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E3E3E3), to(#FFFFFF));
  background: -webkit-linear-gradient(#E3E3E3, #FFFFFF);
  background: -moz-linear-gradient(#E3E3E3, #FFFFFF);
  background: -ms-linear-gradient(#E3E3E3, #FFFFFF);
  background: -o-linear-gradient(#E3E3E3, #FFFFFF);
  background: linear-gradient(#E3E3E3, #FFFFFF);
  -pie-background: linear-gradient(#E3E3E3, #FFFFFF);
}

/*-------------impromptu---------- */
			.jqifade{ position: absolute; background-color: #aaaaaa; }
			div.jqi{ width: 400px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; position: absolute; background-color: #ffffff; font-size: 0.6875em; text-align: left; border: solid 1px #eeeeee; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 7px; }
			div.jqi .jqicontainer{ font-weight: bold; }
			div.jqi .jqiclose{ position: absolute; top: 4px; right: -2px; width: 18px; cursor: default; color: #bbbbbb; font-weight: bold; }
			div.jqi .jqimessage{ padding: 10px; line-height: 20px; color: #444444; }
			div.jqi .jqibuttons{ text-align: right; padding: 5px 0 5px 0; border: solid 1px #eeeeee; background-color: #f4f4f4; }
			div.jqi button{ padding: 3px 10px; margin: 0 10px; background-color: #2F6073; border: solid 1px #f4f4f4; color: #ffffff; font-weight: bold; font-size: 0.75em; }
			div.jqi button:hover{ background-color: #728A8C; }
			div.jqi button.jqidefaultbutton{ background-color: #BF5E26; }
			.jqiwarning .jqi .jqibuttons{ background-color: #BF5E26; }

            div.jqi .jqimessage .field{ padding: 5px 0; }
			div.jqi .jqimessage .field label{ display: block; clear: left; float: left; width: 100px; }
			div.jqi .jqimessage .field input{ width: 150px; border: solid 1px #777777; }
			div.jqi .jqimessage .field input.error{ width: 150px; border: solid 1px #ff0000; }
			/*-------------------------------- */

/*! Add shadows to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE6+, Safari 2+ */
.ui-tooltip-shadow{
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

  .ui-tooltip-shadow .ui-tooltip-titlebar,
  .ui-tooltip-shadow .ui-tooltip-content{
    filter: progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3);
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Color='gray', Direction=135, Strength=3)";

    _margin-bottom: -3px; /* IE6 */
    .margin-bottom: -3px; /* IE7 */
  }

/*! Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.ui-tooltip-rounded,
.ui-tooltip-rounded .ui-tooltip-content,
.ui-tooltip-tipsy,
.ui-tooltip-tipsy .ui-tooltip-content,
.ui-tooltip-youtube,
.ui-tooltip-youtube .ui-tooltip-content{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.ui-tooltip-rounded .ui-tooltip-titlebar,
.ui-tooltip-tipsy .ui-tooltip-titlebar,
.ui-tooltip-youtube .ui-tooltip-titlebar{
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.ui-tooltip-rounded .ui-tooltip-titlebar + .ui-tooltip-content,
.ui-tooltip-tipsy .ui-tooltip-titlebar + .ui-tooltip-content,
.ui-tooltip-youtube .ui-tooltip-titlebar + .ui-tooltip-content{
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}